<template>
    <div class="container">
    	<div class="row">
            <div class="col-12">
                <h2>Dashboard</h2>
            </div>
    		<div class="col-6 mt-4">
    			<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    			  <div class="card-header">Películas: {{ peliculas.length }}</div>
    			  <div class="card-body">
    			    <h5 class="card-title">Listado de películas</h5>
    			    <ul>
    			    	<li v-for="pelicula in peliculas">
    			    		<p class="card-text"><i class="fas" v-bind:class="{ 'fa-lock': !pelicula.activo, 'fa-lock-open': pelicula.activo }"></i> {{pelicula.nombre}}</p>	
    			    	</li>
    			    </ul>
    			  </div>
    			</div>
    		</div>
    		<div class="col-6 mt-4">
    			<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    			  <div class="card-header">Turnos: {{ turnos.length }}</div>
    			  <div class="card-body">
    			    <h5 class="card-title">Listado de turnos</h5>
    			    <ul>
    			    	<li v-for="turno in turnos">
    			    		<p class="card-text"><i class="fas" v-bind:class="{ 'fa-lock': !turno.activo, 'fa-lock-open': turno.activo }"></i> {{turno.hora}}</p>	
    			    	</li>
    			    </ul>
    			  </div>
    			</div>
    		</div>
    	</div>
    </div>
</template>

<script>
export default {
	data(){
		return{
			peliculas: [],
			turnos: []
		}
	},
	beforeMount() {
		this.cargarPeliculas();
		this.cargarTurnos();
	},
	methods: {
		cargarTurnos() {
            axios.get('/api/turnos',{
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.turnos = response.data;
                }).catch((error) => {
                    toastr.error("No ha sido posible cargado datos", "Error");
                    console.error(error);
                })
        },
        cargarPeliculas() {
            axios.get('/api/peliculas',{
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.peliculas = response.data;
                }).catch((error) => {
                    toastr.error("No ha sido posible cargado datos", "Error");
                    console.error(error);
                })
        },
	}
}
</script>

<style>

</style>