<template>
  <div>
    <nav-component></nav-component>
      <div class="container-fluid">
        <div>
          <div class="row">
            <div class="col-2 pl-0 pt-1" v-if="$store.getters.loggedIn">
              <menu-lateral-component></menu-lateral-component>
            </div>
            <div class="py-4" :class="{ 'col-12' : !$store.getters.loggedIn, 'col-10' : $store.getters.loggedIn}">
              <router-view></router-view>
            </div>
          </div>

        </div>
      </div>

  </div>
</template>
<script>
    Vue.component('menu-lateral-component', require('./components/partials/MenuLateralComponent.vue').default);
    Vue.component('nav-component', require('./components/partials/NavComponent.vue').default);
</script>
