<template>
    <div class="row">
        <div class="col-12">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-12 py-4">
            <form class="form" @submit.prevent="save()">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" v-model="pelicula.nombre">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">F. Publicación</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="date" v-model="pelicula.fecha_publicacion">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Activo?</label>
                            <div class="col-sm-10">
                                <div class="custom-control custom-checkbox py-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="pelicula.activo">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Imagen</label>
                            <div class="col-sm-5">
                                <vue-dropzone id="dropzone" ref="myVueDropzone" :options="config" class="mb-4" @vdropzone-file-added="fileAdded" @vdropzone-removed-file="fileRemoved"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" align="left">
                        <button class="btn btn-success btn-sm"  :disabled="saving"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            pelicula: {
                activo: false,
                imagen: null
            },
            filename: "",
            route: '/api/peliculas',
            method: 'post',
            saving: false,
            title: "Nueva película",
            form: new FormData(),
            config: {
                url: "/api/imagen",
                maxFiles: 1,
                maxFilesize: 2, 
                acceptedFiles: 'image/*',
                autoProcessQueue: false,
                addRemoveLinks: true,
                manuallyAddFile: true,
                duplicateCheck: true
            },
            
        }
    },
    beforeMount() {
        //En caso de ser edición, cargamos parámetros necesarios y cambiamos ruta y método
        if (this.$route.meta.mode === 'edit') {
            this.title = 'Editar película';
            this.route = `/api/peliculas/${this.$route.params.id}`;
            this.method = 'put';
            this.cargarPelicula();
        }
    },
    methods: {
        cargarPelicula() {
            axios.get(this.route,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.pelicula = response.data;
                }).catch((error) => {
                    toastr.error("No se encontró el pelicula", "Error");
                    console.error(error);
                    this.$router.push("/peliculas");
                })
        },
        save() {
            axios[this.method](this.route, this.pelicula,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    if (this.method == 'post')
                        toastr.success('Se creó de forma correcta el pelicula <strong>' + response.data.nombre + '</strong>', 'Película creada')
                    else
                        toastr.success('Se actualizó de forma correcta el pelicula <strong>' + response.data.nombre + '</strong>', 'Película actualizada')
                    this.$router.push("/peliculas");
                    this.saving = false;
                })
                .catch((error) => {
                    this.saving = false;
                    let errores = error.response.data.errors;
                    if (typeof errores == "object")
                        for (let k in errores) {
                            toastr.error(errores[k][0], 'Error');
                        }
                    else {
                        toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
                    }
                })
        },
        fileRemoved(file,error,xhr){
            if(file.upload.filename == this.filename){
                this.pelicula.imagen = null;
                this.filename = "";
            }
        },
        fileAdded(file) {
            if(this.filename.length == 0){
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.pelicula.imagen = e.target.result;
                    this.filename = file.upload.filename;
                };
                reader.readAsDataURL(file);
            }
        }
    }
}
</script>

<style>

</style>