<template>
  <div>
      <div class="row">
        <div class="col-10">
          <h2>Películas</h2>
        </div>
        <div class="col-2">
          <router-link to="/peliculas/create" class="btn btn-sm btn-primary"><i class="far fa-file"></i> Nueva pelicula</router-link>
        </div>
        <div class="col-12 py-4">
          <table class="table table-sm ">
            <thead>
              <th>Id</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>F. publicación</th>
              <th>Estado</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="(pelicula,index) in peliculas">
                <td>{{pelicula.id}}</td>
                <td><img :src="`/images/peliculas/${(pelicula.imagen) ? pelicula.imagen : 'default.jpg'}`" alt="..." class="img-thumbnail" width="50" height="50"></td>
                <td>{{pelicula.nombre}}</td>
                <td>{{pelicula.fecha_publicacion}}</td>
                <td>{{ (pelicula.activo) ? "Activo" : "Inactivo"}}</td>
                <th>
                  <button type="button" name="button" class="btn btn-sm btn-warning" @click="$router.push('/peliculas/'+pelicula.id+'/edit')"  data-toggle="tooltip" data-placement="top" title="Editar registro">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button type="button" name="button" class="btn btn-sm btn-light" @click="administrarTurnos(pelicula)"  data-toggle="tooltip" data-placement="top" title="Administrar turnos">
                    <i class="fas fa-clock"></i>
                  </button>
                  <button type="button" name="button" class="btn btn-sm btn-secondary" @click="actualizarEstado(pelicula)"  data-toggle="tooltip" data-placement="top" title="Cambiar estado"><i class="fas" v-bind:class="{ 'fa-lock': !pelicula.activo, 'fa-lock-open': pelicula.activo }"></i></button>
                  <button type="button" name="button" class="btn btn-sm btn-danger" @click="confirmarEliminacion(pelicula,index)" data-toggle="tooltip" data-placement="top" title="Eliminar registro">
                    <i class="fas fa-trash"></i>
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <b-modal id="modal-turnos" :title="`Turnos de: ${pelicula.nombre}`" size="sm">
        <!-- <p class="my-4">{{ pelicula }}</p> -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>--</th>
                    <th>
                      <center>Hora</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="turno in turnos">
                    <td>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" :id="`check-turno-${turno.id}`" :value="turno.id" v-model="pelicula_turnos">
                          <label class="custom-control-label" :for="`check-turno-${turno.id}`"></label>
                      </div>
                    </td>
                    <td>
                      <center><i class="fas" v-bind:class="{ 'fa-lock': !turno.activo, 'fa-lock-open': turno.activo }"></i> {{turno.hora}}</center>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <template #modal-footer>
            <button type="button" class="btn btn-sm btn-success" @click="asignarTurnosPelicula()" :disabled="saving">
              Guardar
            </button>
        </template>
      </b-modal>
  </div>
</template>

<script>
export default {
    data() {
        return {
            peliculas: [],
            pelicula: {
              nombre: null
            },
            route: "/api/peliculas",
            turnos: [],
            pelicula_turnos: [],
            saving: false
        }
    },
    beforeMount() {
        this.cargarPeliculas();
        this.cargarTurnos();
    },
    methods: {
        cargarPeliculas() {
            axios.get(this.route,{
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.peliculas = response.data;
                }).catch((error) => {
                    toastr.error("No ha sido posible cargado datos", "Error");
                    console.error(error);
                })
        },
        cargarPeliculaTurnos(){
           axios.get(`/api/peliculas/${this.pelicula.id}/turnos`,{
              headers: { Authorization: "Bearer " + this.$store.state.token }
          })
          .then((response) => {
              this.pelicula_turnos = response.data;
              this.$bvModal.show('modal-turnos');
          }).catch((error) => {
              toastr.error("No se encontraron turnos", "Error");
          })
        },
        cargarTurnos(){
             axios.get('/api/turnos',{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
            .then((response) => {
                this.turnos = response.data;
            }).catch((error) => {
                toastr.error("No se encontraron turnos", "Error");
            })
        },
        confirmarEliminacion(pelicula, index) {
          swal.fire({
            title: '¿Estás seguro?',
            html: `Eliminarás la pelicula : <strong> ${pelicula.nombre}  </strong> y no podrás recuperarla más adelante`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar',
          }).then((result) => {
                if(result.isConfirmed){
                  this.eliminar(pelicula,index);
                }
            });
        },
        administrarTurnos(pelicula){
          this.pelicula = pelicula;
          this.cargarPeliculaTurnos();
        },
        asignarTurnosPelicula(){
          this.saving = true;
          axios.post(`/api/peliculas/${this.pelicula.id}`, { turnos: this.pelicula_turnos},{
              headers: { Authorization: "Bearer " + this.$store.state.token }
          })
              .then((response) => {
                  this.$bvModal.hide('modal-turnos'); 
                  toastr.success('Se actualizaron turnos de la película <strong>' + this.pelicula.nombre + '</strong> de forma correcta', 'Película actualizada')
                  this.saving = false;
                  this.pelicula_turnos = [];
                  this.pelicula = {
                    nombre: null
                  };
              })
              .catch((error) => {
                  this.saving = false;
                  let errores = error.response.data.errors;
                  if (typeof errores == "object")
                      for (let k in errores) {
                          toastr.error(errores[k][0], 'Error');
                      }
                  else {
                      toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
                  }
              })
        },
        actualizarEstado(pelicula){
          pelicula.activo = !pelicula.activo;
          axios.put(`${this.route}/${pelicula.id}`, pelicula,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
              .then((response) => {
                      toastr.success('Se actualizó el estado de la película <strong>' + response.data.nombre + '</strong>', 'Estado actualizado');
                      pelicula = response.data;
              })
              .catch((error) => {
                  this.saving = false;
                  let errores = error.response.data.errors;
                  if (typeof errores == "object")
                      for (let k in errores) {
                          toastr.error(errores[k][0], 'Error');
                      }
                  else {
                      toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
                  }
              })
        },
        eliminar(pelicula, index) {
          axios.delete(`${this.route}/${pelicula.id}`, {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
            .then((response) => {
              toastr.error('Se eliminó la pelicula: <strong>' + pelicula.nombre + ' </strong> de forma correcta', 'Película eliminada');
              this.peliculas.splice(index, 1);
          }).catch((error) => {
              let errores = error.response.data.errors;
              if (typeof errores == "object")
                for (let k in errores)
                  toastr.error(errores[k], 'Error');
              else
                toastr.error("Ha ocurrido un error.", 'Error desconocido');
            });
        },
    }
}
</script>