<template>
    <div class="row">
        <div class="col-12">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-12 py-4">
            <form class="form" @submit.prevent="save()">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Turno</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="time" v-model="turno.hora">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Activo?</label>
                            <div class="col-sm-10">
                                <div class="custom-control custom-checkbox py-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="turno.activo">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-2" align="left">
                        <button class="btn btn-success btn-sm"  :disabled="saving"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            turno: {},
            route: '/api/turnos',
            method: 'post',
            saving: false,
            title: "Nuevo turno"
        }
    },
    beforeMount() {
        //En caso de ser edición, cargamos parámetros necesarios y cambiamos ruta y método
        if (this.$route.meta.mode === 'edit') {
            this.title = 'Editar turno';
            this.route = `/api/turnos/${this.$route.params.id}`;
            this.method = 'put';
            this.cargarTurno();
        }
    },
    methods: {
        cargarTurno() {
            axios.get(this.route,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.turno = response.data;
                }).catch((error) => {
                    toastr.error("No se encontró el turno", "Error");
                    console.error(error);
                    this.$router.push("/turnos");
                })
        },
        save() {
            this.saving = true;
            axios[this.method](this.route, this.turno,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    if (this.method == 'post')
                        toastr.success('Se creó de forma correcta el turno <strong>' + response.data.hora + '</strong>', 'Turno creado')
                    else
                        toastr.success('Se actualizó de forma correcta el turno <strong>' + response.data.hora + '</strong>', 'Turno actualizado')
                    this.$router.push("/turnos");
                    this.saving = false;
                })
                .catch((error) => {
                    this.saving = false;
                    let errores = error.response.data.errors;
                    if (typeof errores == "object")
                        for (let k in errores) {
                            toastr.error(errores[k][0], 'Error');
                        }
                    else {
                        toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
                    }
                })
        },
    }
}
</script>

<style>

</style>