<template>
  <div>
      <div class="row">
        <div class="col-10">
          <h2>Turnos</h2>
        </div>
        <div class="col-2">
          <router-link to="/turnos/create" class="btn btn-sm btn-primary"><i class="far fa-file"></i> Nuevo turno</router-link>
        </div>
        <div class="col-12 py-4">
          <table class="table table-sm ">
            <thead>
              <th>Id</th>
              <th>Hora</th>
              <th>Estado</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="(turno,index) in turnos">
                <td>{{turno.id}}</td>
                <td>{{turno.hora}}</td>
                <td>{{ (turno.activo) ? "Activo" : "Inactivo"}}</td>
                <th>
                  <button type="button" name="button" class="btn btn-sm btn-warning" @click="$router.push('/turnos/'+turno.id+'/edit')"  data-toggle="tooltip" data-placement="top" title="Editar registro"><i class="fas fa-pencil-alt"></i></button>
                  <button type="button" name="button" class="btn btn-sm btn-secondary" @click="actualizarEstado(turno)"  data-toggle="tooltip" data-placement="top" title="Cambiar estado"><i class="fas" v-bind:class="{ 'fa-lock': !turno.activo, 'fa-lock-open': turno.activo }"></i></i></button>
                  <button type="button" name="button" class="btn btn-sm btn-danger" @click="confirmarEliminacion(turno,index)" data-toggle="tooltip" data-placement="top" title="Eliminar registro"><i class="fas fa-trash"></i></button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            turnos: [],
            route: "/api/turnos"
        }
    },
    beforeMount() {
        this.cargarTurnos();
    },
    methods: {
        cargarTurnos() {
            axios.get(this.route,{
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
                .then((response) => {
                    this.turnos = response.data;
                }).catch((error) => {
                    toastr.error("No ha sido posible cargado datos", "Error");
                    console.error(error);
                })
        },
        confirmarEliminacion(turno, index) {
          swal.fire({
            title: '¿Estás seguro?',
            html: `Eliminarás el turno : <strong> ${turno.hora}  </strong> y no podrá recuperarlo más adelante`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar',
          }).then((result) => {
                if(result.isConfirmed){
                  this.eliminar(turno,index);
                }
            });
        },
        actualizarEstado(turno){
          turno.activo = !turno.activo;
          axios.put(`${this.route}/${turno.id}`, turno,{
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
              .then((response) => {
                      toastr.success('Se actualizó el estado del turno <strong>' + response.data.hora + '</strong>', 'Estado actualizado');
                      turno = response.data;
              })
              .catch((error) => {
                  this.saving = false;
                  let errores = error.response.data.errors;
                  if (typeof errores == "object")
                      for (let k in errores) {
                          toastr.error(errores[k][0], 'Error');
                      }
                  else {
                      toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
                  }
              })
        },
        eliminar(turno, index) {
          axios.delete(`${this.route}/${turno.id}`, {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
            .then((response) => {
              toastr.error('Se eliminó el turno: <strong>' + turno.hora + ' </strong> de forma correcta', 'Turno eliminado');
              this.turnos.splice(index, 1);
          }).catch((error) => {
              let errores = error.response.data.errors;
              if (typeof errores == "object")
                for (let k in errores)
                  toastr.error(errores[k], 'Error');
              else
                toastr.error("Ha ocurrido un error.", 'Error desconocido');
            });
        },
    }
}
</script>