<template>
	<div class="row">
	    <div class="col-12">
	        <h2>Perfil</h2>
	    </div>
	    <div class="col-12 py-4">
			<form  class="form" @submit.prevent="save()">
				<div class="col-md-8 col-sm-12">
				    <div class="form-group row ">
				        <label  class="col-sm-2 col-form-label">Foto</label>
				        <div class="col-sm-10 text-center">
				           <img class="img-thumbnail img-reponsive image-preview rounded clickeable" width="250" height="250" :src="((this.user.foto) ? this.user.foto : 'default.png') | imagenPerfil" @click="activaInputFileImage"/>
				           <input id="inputFileImage" type="file" accept="image/x-png,image/jpeg" v-on:change="onFileChange" ref="fileInput" hidden>
				           <button type="button" name="button" class="btn btn-sm btn-outline-info btn-block mt-2" @click="activaInputFileImage"><i class="fas fa-portrait"></i> Cambiar foto</button>
				        </div>
				    </div>
					
				</div>
				<div class="col-8">
				    <div class="form-group row">
				        <label  class="col-sm-2 col-form-label">E-mail</label>
				        <div class="col-sm-10">
				            <input class="form-control form-control-sm" type="text" v-model="user.email">
				        </div>
				    </div>
				</div>
				<div class="col-8">
				    <div class="form-group row">
				        <label  class="col-sm-2 col-form-label">Nombre</label>
				        <div class="col-sm-10">
				            <input class="form-control form-control-sm" type="text" v-model="user.name">
				        </div>
				    </div>
				</div>
			    <div class="col-8" align="left">
			        <button class="btn btn-success btn-sm"  :disabled="saving"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
			    </div>
			</form>
		</div>
	</div>
</template>

<script>
export default {

  data () {
    return {
    	user: {
    		foto: null,
    	},
    	saving: false,
    	route: "/api/user"
    }
  },
  beforeMount() {
      this.cargarUser();
  },
  methods: {
  	onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    activaInputFileImage() {
      this.$refs.fileInput.click();
    },
    createImage(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.user.foto = e.target.result;
        this.$refs.src=this.user.foto;
      };
      reader.readAsDataURL(file);
    },
  	cargarUser(){
  		axios.get(this.route,{
  		    headers: { Authorization: "Bearer " + this.$store.state.token }
  		})
	    .then((response) => {
	        this.user = response.data;
	    }).catch((error) => {
	        toastr.error("No se encontró el pelicula", "Error");
	        console.error(error);
	    })
  	},
  	save(){
  		this.saving = true;
  		axios.put(`/api/users/${this.user.id}`, this.user,{
  		    headers: { Authorization: "Bearer " + this.$store.state.token }
  		})
  		    .then((response) => {
  		    	this.$store.dispatch("retrieveUsername");
  		        toastr.success('Se actualizó de forma correcta tu perfil <strong>' + response.data.name + '</strong>', 'Perfil actualizado')
  		        this.saving = false;
  		        this.$router.push("/");
  		    })
  		    .catch((error) => {
  		        this.saving = false;
  		        let errores = error.response.data.errors;
  		        if (typeof errores == "object")
  		            for (let k in errores) {
  		                toastr.error(errores[k][0], 'Error');
  		            }
  		        else {
  		            toastr.error("Ha ocurrido un error inesperado.", 'Error desconocido');
  		        }
  		    })
  	}
  }
}
</script>