<template>
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <router-link to="/" class="list-group-item list-group-item-action bg-light"><i class="fas fa-chart-pie"></i> Dashboard</router-link>
        <router-link to="/peliculas" class="list-group-item list-group-item-action bg-light"><i class="fas fa-film"></i> Películas</router-link>
        <router-link to="/turnos" class="list-group-item list-group-item-action bg-light"><i class="far fa-clock"></i> Turnos</router-link>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users"></i> Administradores</a>
        <router-link to="/perfil" class="list-group-item list-group-item-action bg-light"><i class="far fa-id-badge"></i> Perfil</router-link>
        <button class="list-group-item list-group-item-action bg-light" @click="confirmarCierreSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
      </div>
    </div>
</div>
</template>

<script>
export default {
  methods: {
    confirmarCierreSesion() {
      swal.fire({
        title: '¿Desea abandonar la sesión?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: 'Si, salir',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
            if(result.isConfirmed){
              this.logout();
            }
        });
    },
    logout(){
      this.$store.dispatch("destroyToken").then(response => {
        toastr.info(response.data,"Hasta luego");
        this.$router.push({ name: "login" });
      });
    },
  }
}
</script>
