<template>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                   <img :src="'/images/logo.png'" alt="..." class="" width="40" height="40"></td> Evaluación Osp
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <ul class="navbar-nav ml-auto" v-if="$store.state.username">
                        <img class="img-thumbnail img-reponsive image-preview rounded clickeable" width="35" height="35" :src="(($store.state.photo) ? $store.state.photo : 'default.png')|imagenPerfil"> <span class="ml-2 mt-2"> {{ $store.state.username }}</span>
                    </ul>
                </div>
            </div>
        </nav>
</template>
